<div class="modal fade"
     id="addImageModal" tabindex="-1" aria-labelledby="addImageModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addImageModalScrollableTitle">Добавить картинку</h5>

        <div *ngIf="submitting" class="modal-header__spinner-container">
          <div class="spinner-border modal-header__spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
          </div>
        </div>

        <button type="button" class="btn-close"
                data-bs-toggle="modal" data-bs-target="#exampleModal"
                aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit()" style="margin-top: 10px;">
          <label class="form-check-label mb-3" for="flexCheckIsThumbnail" style="width: 100%;">
            <input class="form-check-input" type="checkbox"
                   value="" id="flexCheckIsThumbnail"
                   formControlName="isThumbnail">
            Это превью
          </label>


          <div class="mb-20">
            <label>Файл
              <input #visibleImageInput type="file" class="form-control"
                     (change)="handleFileInput($event.target)">
            </label>
          </div>

          <input type="hidden" formControlName="file">

          <button type="submit" class="btn btn-primary"
                  [disabled]="form.invalid || submitted">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</div>
