//@import "src/app/home-page/home-page.component"

$color-dark-one: #4C4E59
$color-dark-two: #626473
$color-orange: #BF6F41

.section
  margin-bottom: 80px !important

.edit-button
  width: 22px
  height: 22px
  min-width: 22px
  min-height: 22px
  margin-left: 10px
  margin-bottom: 3px
  cursor: pointer

.spinner-border
  margin: 0 auto 80px
  display: block

.accordion
  font-size: 16px

.accordion-button
  font-family: 'Roboto Medium', monospace
  font-size: 22px
  color: $color-dark-two
  background-color: #F2F2F2
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  padding: 1em 1.25em

.accordion-header
  margin-bottom: 0.25em

.accordion-body
  font-size: calc(1em + 1px)
  padding-left: 1em
  padding-right: 1em
  color: $color-dark-one
  background-color: #F6F5FA
  a
    text-decoration-line: underline
    color: $color-dark-one
  h3
    font-family: 'Roboto Medium', monospace
    font-size: calc(1em + 2px)
    margin-bottom: 0
    color: $color-dark-one
  p
    font-family: 'Roboto Light', monospace
    color: $color-dark-one
  ul
    padding-left: 0.5em //0.9375em
    ul
      padding-left: 0.625em


ul
  list-style: disc inside
  li
    margin-bottom: 0
    &:last-child
      margin-bottom: 0
    p
      display: inline

.mb-11
  margin-bottom: 0.6875em
.mb-30
  margin-bottom: 1.875em
.mb-42
  margin-bottom: 2.625em
.mb-20
  margin-bottom: 1.25em
.pt-4px
  padding-top: 0.25em
.light
  font-family: 'Roboto Light', monospace
.no-marker
  list-style-type: none
.furniture-links
  font-family: 'Roboto Regular', monospace
  ul
    padding-left: 0.5em //0.9375em
  li
    margin-bottom: 0

.plate
  a
    font-family: 'Roboto Light', monospace
    text-decoration-line: underline
    color: $color-dark-one
.price
  strong
    font-family: "Roboto Regular", monospace

.no-ul-style
  list-style: none
  margin-left: 1.25em

@media(max-width: 640px)
  .accordion
    font-size: 13px
  .accordion-button
    font-size: 16px
@media(max-width: 497px)
  .accordion
    font-size: 13px
  .accordion-button
    font-size: 14px
@media(max-width: 443px)
  .accordion
    font-size: 12px
  .accordion-button
    font-size: 12px
@media(max-width: 404px)
  .accordion-body
    h3
      font-size: calc(1em + 1px)
