@import "src/app/home-page/home-page.component"
@import "src/styles"

.carousel-inner
  margin-bottom: 0.875em
  button
    border-radius: 50%
    top: 50%
    transform: translate(0, -50%)
    height: 1.875em
    width: 1.875em
.indicators
  display: grid
  grid-template-columns: repeat(6, 4.674em)
  grid-row-gap: 0.625em
  grid-column-gap: 0.625em
  .active
    border: 1px solid $color-orange
  img
    width: 4.674em
    height: 2.85em
    min-width: 4.674em
    min-height: 2.85em
@media(max-width: 537px)
  .indicators
    font-size: calc(1em + 6px)
