@import "src/app/home-page/home-page.component"
@import "src/styles"

.carousel
  min-width: 365.11px
.carousel-inner
  margin-bottom: 14px
  button
    border-radius: 50%
    top: 50%
    transform: translate(0px, -50%)
    height: 30px
    width: 30px
//.carousel-item
//  min-width: 365.5px
//  min-height: 274.13px
//  carousel-
.indicators
  display: grid
  grid-template-columns: repeat(6, 74.78px)
  grid-row-gap: 10px
  grid-column-gap: 10px
  .active
    border: 1px solid $color-orange
  img
    width: 74.78px
    height: 45.61px
    min-width: 74.78px
    min-height: 45.61px
