@import "src/app/home-page/home-page.component"
@import "src/styles"

.spinner-container
  display: flex
  justify-content: center
  min-height: 897.82px
.mr-32
  margin-right: 32px
.add-button
  background-color: rgba(217, 171, 145, 0.3)
  width: 222px
  height: 49px
  border: none
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  font-family: 'Roboto Medium', monospace
  color: $color-dark-one
  font-size: 14px
  line-height: 16px
  align-items: center
  text-align: center
