<div class="modal fade" id="addReviewModal" tabindex="-1"
     aria-labelledby="addReviewModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Добавить отзыв</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-floating mb-10">
            <input type="text" class="form-control"
                   id="floatingInputReviewer" placeholder="Иван К." formControlName="reviewer">
            <label for="floatingInputReviewer">Имя ревьювера</label>
          </div>

          <div class="form-floating mb-10">
            <input type="number" class="form-control"
                   id="floatingInputStars" placeholder="5" formControlName="stars">
            <label for="floatingInputStars">Звёзды</label>
          </div>

          <div class="mb-10" style="width:80%;">
            <label for="floatingInputText">Ревью</label>
            <textarea class="form-control"
                      id="floatingInputText" formControlName="text"></textarea>
          </div>
          <button type="submit" [disabled]="form.invalid || submitted"
                  class="btn btn-primary">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
