<section class="section about">
  <h1 class="about__h1 section-header">SHIKKERAM: делаем дизайнерскую мебель на заказ</h1>
  <div class="about__text">
    <p class="about__p">Мы - частная мастерская в Самаре.
      Производим мебель с керамогранитом и камнем: столы, тумбы, консоли.
    </p>
    <p class="about__p">К нам обращаются за эксклюзивной мебелью, которая идеально подойдёт
      по стилю, цвету и форме в ваш интерьер. Мы поможем подобрать: плиту  для столешницы,
      форму, оформление края столешницы и подстолье подходящее для вас.
    </p>
    <p class="about__p">
      Наше главное достоинство – столешницы с камнем из керамогранита,
      они – износоустойчивые, долговечные,  не боятся горячего, влаги,
      не нуждаются в скатертях и защитных плёнках.
    </p>
    <p class="about__p mb-12">
      Кроме обычного модного способа оформления края столешницы
      (отшлифованный керамогранит на фигурной подложке из мдф)
      мы предлагаем ещё нашу уникальную технологию укладки камня в объятия дерева.
      Это в разы повышает прочность и безопасность использования керамогранита.
    </p>
    <p class="about__to-do">Чтобы заказать у нас мебель, звоните или пишите:</p>
    <div class="about__contacts">
      <div class="aligned-row">
        <img class="about__contact-type-icon" src="assets/icons/phone.svg" alt="phone.svg">
        <div>
          <p class="about__contacts-phone-p">
            телефон мастера (Стас): <span class="about__contacts-phone-span">&nbsp;+7 (927) 765-28-16</span></p>
          <p class="about__contacts-phone-p">
            доп. телефон: <span class="about__contacts-phone-span">&nbsp;+7 (927) 766-43-65</span></p>
        </div>
      </div>

      <div class="aligned-row">
        <img class="about__contact-type-icon" src="assets/icons/letter.svg" alt="letter.svg">

        <div class="about__contacts-messengers-first-row">
          <div class="about__messengers-links">
            <div class="about__messenger-line">
              <img class="about__messenger-icon about__messenger-icon_small" src="assets/icons/Telegram_logo.svg" alt="messenger.svg">
              <a class="about__contact-link"
                 href="https://t.me/+79277664365" target="_blank">telegram</a>
            </div>

            <div class="about__messenger-line">
              <img class="about__messenger-icon" src="assets/icons/whatsapp.svg" alt="messenger.svg">
              <a class="about__contact-link"
                 href="https://wa.me/79277664365" target="_blank">whatsapp</a>
            </div>
          </div>

          <div>
            <div class="about__messenger-line">
              <img class="about__messenger-icon" src="assets/icons/viber.svg" alt="messenger.svg">
              <a class="about__contact-link"
                 href="viber://chat?number=%2B79277664365" target="_blank">viber</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
