@import "src/app/home-page/home-page.component"

.about
  display: flex
  flex-direction: column
  max-width: 100%
  &__text
    font-family: 'PT Serif Regular', serif
    font-size: 20px
    color: $color-dark-one
  &__to-do
    margin-bottom: 12px
  &__h1
    margin-left: auto
    margin-right: auto
    margin-bottom: 18px
  &__contacts
    display: flex
    flex-direction: row
    align-items: center
  &__phone-numbers
    margin-right: 70px
  &__contact-type-icon
    margin-right: 12px
    max-height: 60px
    max-width: 60px
  &__contacts-phone-p
    font-family: 'Roboto Medium', monospace
    font-size: 20px
    line-height: 23px
    display: flex
    align-items: center
    color: $color-dark-one
  &__contacts-phone-span
    font-family: 'Roboto Light', monospace
  &__messenger-line
    display: flex
    flex-direction: row
    align-items: center
    margin-right: 12.25px
    max-height: 60px
  &__messengers-links
    display: flex
    flex-direction: row
  &__messenger-icon
    margin-right: 3.06px
    max-width: 22.44px
    max-height: 22.44px
  &__messenger-icon_small
    max-width: 20.94px
    max-height: 20.94px
  &__contact-link
    font-family: 'Roboto Medium', monospace
    font-size: 20px
    line-height: 23px
    display: flex
    align-items: center
    text-decoration-line: underline
    color: $color-dark-one
