<section class="section about">
  <h1 class="about__h1 section-header">SHIKKERAM: делаем дизайнерскую мебель на заказ</h1>
  <div class="about__text">
    <p class="about__p mb-12">Мы - частная мастерская в Самаре.
      Производим мебель с керамогранитом: столы, тумбы, консоли.
    </p>

    <p class="about__p">Преимущества нашей мастерской:</p>
    <ul class="mb-12">
      <li>
        <p class="about__p">уникальная мебель от производителя на заказ под Вас!</p>
      </li>

      <li>
        <p class="about__p">все столешницы из толстого
          натурального керамогранита (тонкую керамику не используем!)</p>
      </li>

      <li>
        <p class="about__p">предлагаем несколько вариантов оформления края у столешниц!</p>
      </li>

      <li>
        <p class="about__p">работаем без выходных!</p>
      </li>

      <li>
        <p class="about__p">официально, при оплате вышлем ЧЕК!</p>
      </li>

      <li>
        <p class="about__p">изготовление от 2х недель (качество требует времени!)</p>
      </li>

      <li>
        <p class="about__p">изделия из НАЛИЧИЯ отправим на следующий день!</p>
      </li>

      <li>
        <p class="about__p">отправляем по всей России (ПЭК, Деловые Линии).</p>
      </li>
    </ul>

    <p class="about__to-do">Чтобы заказать у нас мебель, звоните или пишите:</p>
    <div class="about__contacts">
      <div class="aligned-row">
        <img class="about__contact-type-icon" src="assets/icons/phone.svg" alt="phone.svg">
        <div>
          <p class="about__contacts-phone-p">
            телефон мастера (Стас): <span class="about__contacts-phone-span">&nbsp;+7 (927) 765-28-16</span></p>
          <p class="about__contacts-phone-p">
            доп. телефон: <span class="about__contacts-phone-span">&nbsp;+7 (927) 766-43-65</span></p>
        </div>
      </div>

      <div class="aligned-row">
        <img class="about__contact-type-icon" src="assets/icons/letter.svg" alt="letter.svg">

        <div class="about__contacts-messengers-first-row">
          <div class="about__messengers-links">
            <div class="about__messenger-line">
              <img class="about__messenger-icon about__messenger-icon_small" src="assets/icons/Telegram_logo.svg" alt="messenger.svg">
              <a class="about__contact-link"
                 href="https://t.me/+79277664365" target="_blank">telegram</a>
            </div>

            <div class="about__messenger-line">
              <img class="about__messenger-icon" src="assets/icons/whatsapp.svg" alt="messenger.svg">
              <a class="about__contact-link"
                 href="https://wa.me/79277664365" target="_blank">whatsapp</a>
            </div>
          </div>

          <div>
            <div class="about__messenger-line">
              <img class="about__messenger-icon" src="assets/icons/viber.svg" alt="messenger.svg">
              <a class="about__contact-link"
                 href="viber://chat?number=%2B79277664365" target="_blank">viber</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
